.boxWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background 0.5s; */
}

.boxContainer {
  position: relative;
  display: grid;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}

.boxItem {
  padding: 10px; 
  will-change: transform, opacity;
}
.btnText {
  will-change: opacity;
}

.btnContainer {
  height: 6vh;
  padding: 2px 25px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #323232;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: none;
  /* display: flex;
    align-items: center;
    height: 100%;
    justify-content: center; */
}
.textContainer {
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    will-change: transform, opacity;
    text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
    -webkit-user-select: none;
    user-select: none;
  }

  